[DEFAULT]
user=ocid1.user.oc1..your_user_ocid_here
fingerprint=aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00
tenancy=ocid1.tenancy.oc1..your_tenancy_ocid_here
region=us-ashburn-1
key_file=/Users/user_name/.oci/oci_api_key.pem

# Optional extra profile example
[DEMO]
user=ocid1.user.oc1..your_user_ocid_here
fingerprint=aa:bb:cc:dd:ee:ff:11:22:33:44:55:66:77:88:99:00
tenancy=ocid1.tenancy.oc1..your_tenancy_ocid_here
region=us-phoenix-1
key_file=/Users/user_name/.oci/oci_api_key.pem
